@import "../../../scss/style";
@import "../../../scss/variables";
@import "../../../scss/mixins";

ul.footer-sitemap {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@media only screen and (min-width: 576px) and (max-width: 768px) {
		justify-content: center;
	}

	li {
		margin-right: calc(#{$nav-li-margin-right} + 6px);

		&:last-child {
			margin-right: 0;
		}

		a {
			text-decoration: none;
			font-size: 80%;
			white-space: nowrap;

			&:hover {
				color: rgba(#ffffff, 0.85);
				border-bottom-style: none;
				text-decoration: underline;
			}
		}
	}
}
