@import "../../../scss/variables";
@import "../../../scss/colors";
@import "../../../scss/mixins";
@import "../../../scss/style";

ul.social-icon-wrapper {
	display: flex;
	justify-content: center;

	li {
		position: relative;
		border: $nav-li-border;
		margin-right: $nav-li-margin-right;
		border-radius: $border-radius;
		// box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4), -1px -1px 6px -3px rgba(255, 255, 255, 0.3);

		a {
			width: 60px;
			height: calc(#{$navbar-link-height} * #{$footer-anchor-height-factor});
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;

			&:hover {
				border: 1px solid rgba(#fff, 0.15);
				border-radius: $border-radius;
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				transition: all $social-transition-duration ease-out;
				border-radius: $border-radius;
			}

			@include social-brand-hover($brand);

			i {
				font-size: 1.75em;
				transition: all $social-transition-duration ease-out;
				z-index: 1;

				@include social-icon($brand);
			}
		}
	}
}
