@import "../../../scss/variables";
@import "../../../scss/colors";

.newsletter {
	padding: 0 4em;

	&-form {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		align-items: center;
		font-size: 0.93em;
	}

	h3,
	p {
		text-align: center;
	}

	&-email {
		flex: 7;
		display: inline;
		padding: 0.42em 0.35em 0.42em 0.65em;
		border-bottom-left-radius: $border-radius;
		border-top-left-radius: $border-radius;
		border: 2px solid #ced4da;
		box-shadow: 1px 1px 15px -10px #000;
		outline: none;

		&:focus,
		&:active {
			color: #314261;
			outline: none;
			border-color: #af6f19;
		}
	}

	&-submit {
		flex: 3;
		border: 2px solid transparent;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		outline: none;
		padding: 0.42em 0.35em;
		background-color: #af6f19;
		color: $text-color;
		white-space: nowrap;
	}
}
