@import "../../../scss/variables";

.footer-address {
	margin: 0;

	ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		line-height: 2.4em;
	}

	li {
		display: block;
	}

	i {
		font-size: 1.2em;
	}

	a {
		margin-left: 0.35em;
		text-decoration: none;
		white-space: nowrap;
	}
}
