@import "../../scss/variables";

.form-control {
	margin: 0;
	border-radius: $border-radius;
	border-color: rgba(#0c5460, 0.25);

	&:focus,
	&:active {
		box-shadow: 0 0 0 0.1rem rgba(#0c5460, 0.5);
		border: none;
	}
}
