@import "../../scss/colors";

header.main-header {
	z-index: 999;
	box-shadow: 0 0 10px -6px #000;
	width: 100%;
	transition: 450ms ease-out; /*FIXME: Fix the transition between header and navbar*/
	background-color: $bg-accent-color;
	color: #ffffff;
	position: sticky;
	top: 0;
	left: 0;
}
