@import "../../scss/colors";
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/style";

.navbar {
	z-index: inherit;
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: $navbar-min-height;
	background-color: inherit;
	color: inherit;
	margin: 0 2.75em;

	&-collapse {
		justify-content: flex-end;
	}

	&-nav {
		margin-left: auto;

		> li {
			margin-right: $nav-li-margin-right;
			text-align: center;
			border: $nav-li-border;
			border-radius: $border-radius;

			> a {
				font-weight: $nav-link-font-weight;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: $navbar-link-width;
				height: $navbar-link-height;
				white-space: nowrap;
				text-decoration: none;
				letter-spacing: $letter-spacing;
				text-transform: uppercase;
				opacity: $navbar-link-opacity;
				color: inherit;
				border-radius: 2px;

				&:hover {
					opacity: 1;
				}
			}

			@include nav-item-hover($nav-border-colors);
		}
	}
}
