@import "../../scss/colors";
@import "../../scss/variables";

.contact {
	&-view {
		> .row {
			height: 100%;
		}
	}

	@media (min-width: 768px) {
		.row.equal {
			margin: 3.5em 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	.hero-image {
		position: relative;
	}

	.bg-image {
		background-color: $bg-accent-color;
		background-clip: unset;
		height: 200px;
	}

	.bg-image-text {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		color: $text-color;

		p:first-child {
			margin-top: 1.5em;
		}
	}
}
