.contact {
	&-view {
		height: 100%;

		h1 {
			font-size: 40px;
		}

		> .row {
			height: 100%;
		}
	}

	@media (min-width: 768px) {
		.row.equal {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	&-image {
		img {
			margin-top: -2.5em;
			width: 60%;
		}
	}

	&-form {
		.form-wrapper {
			margin: 0;
		}

		textarea {
			height: 100%;
		}

		button {
			width: 100%;
			background-color: #af6f19;
		}
	}
}
