@import "../../scss/style";
@import "../../scss/variables";
@import "../../scss/colors";
@import "../../scss/mixins";

footer.main-footer {
	padding-top: 0.1em;
	color: rgba(#fff, $navbar-link-opacity);
	background-color: $bg-accent-color;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
		margin-bottom: 0.85em;
	}

	hr {
		margin: 5px 0;
	}

	section.footer-top {
		margin: 2em auto;
	}

	section.footer-bottom {
		margin: 0 auto;
	}

	.footer-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
