@import "../../scss/style";
@import "../../scss/variables";
@import "../../scss/colors";
@import "../../scss/mixins";

footer.main-footer {
	position: sticky;
	top: 100%;
	left: 0%;
	padding: 1.2em 0 1em;
	text-align: center;
	color: rgba(#fff, $navbar-link-opacity);
	background-color: $bg-accent-color;

	hr {
		margin: 0.875em 0;
	}

	// TODO: make a responsive bottom footer component
	section.bottom-footer {
		display: flex;
		align-items: center;
		justify-content: space-around;

		> * {
			flex: 1;
		}
	}
}
