@import "./scss/mixins";
@import "./scss/style";
@import "./scss/variables";

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	height: 100%;
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	min-height: 100vh;
}

ul {
	list-style-type: none;
	margin: 0;
}

a {
	color: inherit;
}
