@import "./scss/mixins";
@import "./scss/style";
@import "./scss/variables";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	box-sizing: inherit;
	height: 100%;
	background-color: #ede9dd;

	&::-webkit-scrollbar {
		width: 0.8rem;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(#000, 0.3);
		-webkit-box-shadow: inset 0 0 6px rgba(#000, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: lighten(#3f2809, 15%);
		outline: 1px solid slategrey;
		border-radius: 8px;
	}
}

#root {
	position: relative;
	height: 100%;
	padding-top: 5rem;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: inherit;
}
