$color-vivid-tangerine: #ffa07a;
$color-pastel-green: #90ee90;
$color-malibu: #87cefa;
$color-slate-gray: #77889a;

$nav-border-colors: (#ffa07a "1", #90ee90 "2", #87cefa "3", #77889a "4");

$nav-1st-li-bd-color: #ffa07a;
$nav-2nd-li-bd-color: #90ee90;
$nav-3rd-li-bd-color: #87cefa;
$nav-4th-li-bd-color: #77889a;
$bg-accent-color: #09203f;

/**********************************************************
********************** COLOR PALETTE **********************
**********************************************************/

$palette: (
	"down-river": #09203f,
	"bronze": #3f2809,
	"mandalay": #af6f19,
);

/**********************************************************
******************* SOCIAL BRANDS COLORS ******************
**********************************************************/

$brand: ("facebook" #4267b2 "facebook-f", "twitter" #00aced "twitter", "linkedin" #007bb6 "linkedin-in");
