@use 'keyframes';

/**********************************************************
******************* NAV HOVER ANIMATION *******************
**********************************************************/

@mixin a-hover-after($color, $outline-size: 1px) {
	a {
		transition: 850ms;

		&:hover {
			outline: $outline-size solid $color;
			opacity: calc(#{$navbar-link-opacity} * #{$hover-opacity-factor});
		}

		&::after {
			content: "";
			position: absolute;
			height: $nav-li-after-height;
			top: calc(100% - #{$nav-li-after-height});
			background-color: $color;
			animation: fade-out 650ms ease-in forwards;
		}
	}

	a:hover::after {
		content: "";
		animation: fade-in 750ms ease-out 100ms forwards;
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
			width: 0%;
		}

		100% {
			opacity: 1;
			width: 100%;
		}
	}

	@keyframes fade-out {
		0% {
			opacity: 1;
			width: 100%;
		}

		100% {
			opacity: 0;
			width: 0%;
		}
	}
}

@mixin nav-item-hover($nav-border-colors) {
	$i: 0;
	@each $color in $nav-border-colors {
		$i: $i + 1;
		&:nth-child(#{$i}) {
			@include a-hover-after($color);
		}
	}
}

/**********************************************************
**************** SOCIAL BRANDS ICON MIXINS ****************
**********************************************************/
@mixin social-brand-hover($brand) {
	@each $name, $color, $icon in $brand {
		&.social-#{$name}:hover {
			&::after {
				bottom: 0;
				background-color: $color;
			}

			i {
				color: white;
			}
		}
	}
}

@mixin social-icon($brand) {
	@each $name, $color, $icon in $brand {
		&.fa-#{$icon} {
			color: $color;
		}
	}
}
