/*****************************************************************************************************
******************************************************************************************************
                            NAVBAR VARIABLES
******************************************************************************************************
******************************************************************************************************/

$bg-accent-color: #242426;
$navbar-collapse-width: 35%;
$navbar-min-height: 5.5em;
$navbar-link-opacity: 0.6;
$nav-li-after-height: 4px;
$nav-1st-li-bd-color: lightsalmon;
$nav-2nd-li-bd-color: lightgreen;
$nav-3rd-li-bd-color: lightskyblue;
$nav-4th-li-bd-color: lightslategray;
$navbar-link-height: 50px;
$nav-li-margin-right: 8px;
$border-radius: 2px;
$letter-spacing: 1px;
$nav-link-font-weight: 500;
$nav-li-border: 1px solid rgba(#000, 0.25);
$hover-opacity-factor: (7 / 6);
/*****************************************************************************************************
******************************************************************************************************
                            FOOTER VARIABLES
******************************************************************************************************
******************************************************************************************************/
$footer-anchor-height-factor: 0.825;
$social-transition-duration: 850ms;
