/*****************************************************************************************************
******************************************************************************************************
                            NAVBAR VARIABLES
******************************************************************************************************
******************************************************************************************************/

$navbar-collapse-width: 35%;
$navbar-min-height: 5em;
$navbar-link-opacity: 0.6;
$nav-li-after-height: 4px;
$navbar-link-height: 45px;
$navbar-link-width: 95px;
$nav-li-margin-right: 8px;
$border-radius: 2px;
$letter-spacing: 1px;
$nav-link-font-weight: 400;
$nav-li-border: 1px solid rgba(#000, 0.35);
$hover-opacity-factor: (7 / 6);
/*****************************************************************************************************
******************************************************************************************************
                            FOOTER VARIABLES
******************************************************************************************************
******************************************************************************************************/
$footer-anchor-height-factor: 0.825;
$social-transition-duration: 850ms;
